/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.spacer {
  flex: 1 1 auto;
}

.container {
  margin-top: 50px;
}

.table {
  width: 100%;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
